h1{
    color: green;
    font-family: sans-serif
} 

f{
    color: #8d3f3f;
    font-family: sans-serif
}
td{
    color:black;
}




table{
      font-family    : Helvetica, sans-sarif;
      border-collapse: collapse;
      border-width   : 1px;
      border-style   : solid;
      border-color   : darkgoldenrod;
}

th {
    font-weight     : 800;
    background-color: brown;
    color           : lightgoldenrodyellow;
}


.gallery img{
        width: 100%;
 }


td {
    font-weight     : 800;
    background-color: black;
    color           : #ffffff;
}
